// Common style for HTML elements across the app

h1 {
  color: $color-primary;
  text-align: center;
  margin-bottom: 10px;
}

a,
a:visited {
  color: $color-primary;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: $text-color-secondary;
  background-color: $color-primary;
  border-radius: $border-radius-button;
  border: solid 2px $color-primary;
  padding: $spacing-button;
  font-weight: bold;

  &:active {
    background-color: darken($color: $color-primary, $amount: 20%);
  }

  &.selected {
    color: $color-primary;
    background-color: $background-color-secondary;

    &:active {
      background-color: darken(
        $color: $background-color-secondary,
        $amount: 20%
      );
    }
  }

  &:disabled {
    background-color: lighten($color: $color-primary, $amount: 20%);
    border: solid 2px lighten($color: $color-primary, $amount: 20%);
    cursor: initial;
  }
}

textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  padding: 10px;
  border-color: $color-primary;
}

img {
  border-radius: $border-radius-image;
}
